.nav-link.active {
    color: #0dcaf0 !important;
    border-bottom: 1px solid var(--bs-navbar-active-color);
}

.nav-link:hover {
    color: #212529 !important;
}


.btn {
    border-radius: 30px !important;
    padding: 6px 25px !important;
    transition: 0.5s !important;
}

.brandName {
    color: #0dcaf0;
}

.animated {
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.card {
    width: 18rem !important;
    margin-bottom: 20px !important;
}

.cards {
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes example {
    0% {
        top: 0px;
        bottom: 10px;
    }

    25% {
        top: 10px;
        bottom: 0px;
    }

    50% {
        top: 0px;
        bottom: 10px;
    }

    75% {
        top: 10px;
        bottom: 0px;
    }

    100% {
        top: 0px;
        bottom: 10px;
    }
}